NEXT_PUBLIC_SITE_NAME="COK Cerámica"
NEXT_PUBLIC_WHATSAPP="+5493814427727"
NEXT_PUBLIC_WHATSAPP_TEXT="Hola COK Cerámica, quiero más info 🙌"
NEXT_PUBLIC_EMAIL="cokceramica@gmail.com"
NEXT_PUBLIC_ADDRESS="Don Bosco 1648, San Miguel de Tucumán, Tucumán"
NEXT_PUBLIC_HOURS="Lun a Vie 10:00–13:00 y 16:30–19:00 · Sáb 10:00–14:00"
NEXT_PUBLIC_MAPS_URL=""
NEXT_PUBLIC_INSTAGRAM=""
NEXT_PUBLIC_FACEBOOK=""
NEXT_PUBLIC_ENABLE_CATALOG=false
